.section-meals {
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
.meals-showcase {
  width: 100%;
  list-style: none;
}
.about{
  font-size: larger;
  font-weight: bolder;
}
.home{
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  height: 600px;
  background-image: url("../img/h10.jpg");
  transition: all 200ms ease-in;
}

.home > *{
  background-color: rgba(200, 230, 230, 0.829);
  width: fit-content;
  margin:0 auto;
  transform: translateY(200px);
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  position: relative;
}

.img {
  width: 400px;
  height: 300px;
  transform: scale(1.15);
  transition: 0.5s;
  opacity: 0.7;
}

.low-opacity {
  opacity: 0.5;
}

.img_hover:hover {
  transform: scale(1.05);
  opacity: 1;
}

.slide-uploader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.slide-uploader i {
  font-size: 40px;
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slide-uploader a {
  margin-top: 62px;
}
