.container {
  margin-top: 8%;
  margin-left: 8%;
  background-color: lightpink;

  width: 28rem;
  border-radius: 55px;
}
.card:hover {
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
